//
   Created by shirley on 27/05/2017.

extends layout

block content
    article.wrapper

        header.page-header
            h1= 'AA Calculate'


        section
            h3 Activities
            .dropdown
                button.btn.btn-default.dropdown-toggle(type="button",id="dropdownMenu1",data-toggle="dropdown" aria-haspopup="true",aria-expanded="true") All Activities
                    span.caret
                ul.dropdown-menu(aria-labelledby="dropdownMenu3")
                    li(v-for="activity in activities")
                        a(href="javascript:;",v-text="activity")
                    li.divider(role="separator")
                    li.btn-addactivity
                        a(href="javascript:;") new activity


        section.members
            header
                h3 Members
                a(href="javascript:;") add
            ul.member-list.list-inline
                li(v-for="name in members")
                    span.glyphicon.glyphicon-user(aria-hidden="true")
                    span(v-text="name")


        section.items
            header
                h3 Items
                a(href="javascript:;",@click="addItems()") new item
            article.container-fluid
                item(ref="item",:activities="activities",:members="members",v-for="item in items",:item="item",:key="item.index")
            button.btn.btn-primary.btn-lg(id="count",type="button",data-toggle="modal",data-target="#myModal",@click="count()") count

        section
            .modal.fade(id="myModal",tabindex="-1",role="dialog")
                .modal-dialog(role="document")
                    .modal-content
                        .modal-header
                            button.close(type="button",data-dismiss="modal")
                                span(hidden="true") &times;
                            h4.modal-title(id="myModalLabel",v-text="modalTitle")
                        .modal-body ...
                        .modal-footer
                            button.btn.btn-default(type="button",data-dismiss="modal") Close