extends layout

block content
    .wrapper
        .page-header
            h1= 'Account List'
        div
            .input-group
                input(type="text",class="form-control",placeholder="new account",v-model="input")
                span(class="input-group-btn")
                    button(class="btn btn-default",type="button",@click="add()")= "+"

        .list-group
            a(class="list-group-item",v-for="(account, index) in accounts",:class="{active:isActived === index}",v-text="account.value",:href="'/account/' + account.index")